{% extends "../core/base/base_other.html" %}
{% load static %}

{% block contents %}
<!-- Start main-content -->
<section class="page-title" style="background-image: url({% static 'images/background/page-title-bg.png' %});">
  <div class="auto-container">
    <div class="title-outer text-center">
      <h1 class="title">Services</h1>
      <ul class="page-breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li>Services</li>
      </ul>
    </div>
  </div>
</section>
<!-- end main-content -->

<!-- Room-section two -->
<section class="room-service-section pt-120 pb-60">
  <div class="auto-container">
    <div class="row">
      {% for room in rooms %}
      <!-- News Block -->
      <div class="room-service-block-one col-lg-4 col-sm-6 wow fadeInUp">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image mb-0">
              <a href="{% url 'room_details' room.id %}"><img src="{{ room.image.url }}" alt=""></a>
            </figure>
          </div>
          <div class="content-box">
            <div class="inner-box">
              <h4 class="title"><a href="{% url 'room_details' room.id %}">{{ room.get_name_display }}</a></h4>
              <div class="price">${{ room.price_per_night }}/ Night</div>
            </div>
            <div class="facilities-box align-items-center d-flex justify-content-between">
              <ul class="facilities-list">
                <li><i class="fal fa-circle-user me-2"></i>{{ room.occupancy }}</li>
                <li><i class="fal fa-bed me-2"></i>{{ room.bed_type }}</li>
              </ul>
              <ul class="facilities-list">
                <li><i class="fal fa-bath me-2"></i> Bathtub</li>
                <li><i class="fal fa-wifi me-2"></i> Free Wifi</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Room section -->
{% endblock contents %}
