{% load static %}
  <!-- Main Footer -->
  <footer class="main-footer footer-style-one">
    <!-- Widgets Section -->
    <div class="widgets-section">
      <div class="auto-container">
        <div class="row">
          <!-- Footer Column -->
          <div class="footer-column col-lg-4 col-sm-6">
            <div class="footer-widget about-widget wow fadeInLeft">
              <div class="widget-content">
                <div class="logo"><a href="#"> <img src="{% static 'images/logo.png' %}" alt=""></a></div>
                <div class="text mb-0">Feel free to reach out if you want collaborate with us, or simply chat.</div>
              </div>
            </div>
            <div class="footer-widget news-widget wow fadeInLeft" data-wow-delay="400ms">
              <div class="subscribe-form-three">
                <form method="post" action="#">
                  <div class="form-group">
                    <input type="email" name="email" class="email" value="" placeholder="Email Address" required="">
                    <button type="button" class="theme-btn btn-style-one"><span class="btn-title"><i class="fa fa-paper-plane"></i></span></button>
                  </div>
                </form>
              </div>
            </div>
            <div class="footer-widget widget-social wow fadeInLeft" data-wow-delay="300ms">
              <h4 class="widget-title">Follow Us</h4>
              <div class="widget-content">
                <ul class="social-icon">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          </nav>
          <!-- Footer Column -->
          <div class="footer-column col-lg-3 col-sm-6 mb-0 ps-xl-5">
            <div class="footer-widget links-widget ps-xl-5 wow fadeInLeft" data-wow-delay="200ms">
              <h4 class="widget-title">Services</h4>
              <div class="widget-content">
                <ul class="user-links">
                  <li><a href="{% url 'rooms' %}">Rooms</a></li>
                  <li><a href="{% url 'pricing' %}">Pricing</a></li>
                    <li><a href="{% url 'services' %}">Suites</a></li>
                  
                </ul>
              </div>
            </div>                       
          </div>
          <!-- Footer Column -->
          <div class="footer-column col-lg-2 col-sm-6 mb-0 ps-xl-4">
            <div class="footer-widget links-widget ps-xl-4 wow fadeInLeft" data-wow-delay="200ms">
              <h4 class="widget-title">Company</h4>
              <div class="widget-content">
                <ul class="user-links">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About Us</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                  <li><a href="{% url 'faq' %}">Faq</a></li>
                </ul>
              </div>
            </div>                       
          </div>
          <!-- footer column -->
          <div class="footer-column col-lg-3 col-sm-6">
            <div class="footer-widget info-widget ps-xl-5 ms-xl-5 mb-30 wow fadeInLeft" data-wow-delay="300ms">
              <h4 class="widget-title">Nigeria</h4>
              <div class="widget-content">
                <!-- Contact List -->
                <div class="contact-list">
                  <div class="inner">
                    <div class="list-info">28 Akhionbare St, off Ihama Road, GRA, Benin City 300102, Edo State</div>
                    <div class="list-info">+234 802 354 1175</div>
                    <div class="list-info">info@vertushotel.online</div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    <!--  Footer Bottom -->
    <div class="footer-bottom">
      <div class="auto-container">
        <div class="inner-container">
          <div class="copyright-text">© 2025 <span>vertushotel.online</span></div>
        </div>
      </div>
    </div>
  </footer>
  <!--End Main Footer -->
  
  <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>
